<a href="https://colab.research.google.com/github/andresvillamayor/Python-Begineer/blob/main/Python_Begineer_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Principios Basicos
- Tipo de Variables
- Usando Variables
- Variables y Operadores
- Ciclo While
- Ciclo For
- Condicional if
- Identacion de Código Python
---

#### Tipos de Variables

- Por ahora estos son los tipos de variables que serán más utilizadas

---
Integer

In [2]:
# Integer
x = 2   # aqui asignamos el valor, si bien python ya esta reconociendo el tipo de datos que recibe la variable x

In [3]:
x  # dentro de la notebook de google colab automaticamente colocando la variable nos da el valor

2

In [4]:
# vemos el tipo de datos
type(x) # colocando type() y dentro de los parentesis colocamos la variable, python nos mostrara el tipo de variable
# en este caso nos mostrara el tipo de variable INT por que es un Integer

int

---
Float o Punto Flotante

In [5]:
# Float o Punto Flotante
y = 2.5  # aqui python ya reconoce que es un tipo de variable float, porque ya tiene un punto el valor

In [6]:
y  # una vez que colocamos la variable en la notebook la misma nos mostrara el valor

2.5

In [7]:
# Para ver nuevamente el tipo de datos que sea decimal
type(y) # aca nos mostrara que el tipo de datos es decimal / float o punto flotante

float

---
String o Cadena de Texto

In [8]:
# String o Cadena de Texto
a = 'hola'

In [9]:
a # el valor de a sera hola

'hola'

In [10]:
# Nuevemnte para saber el tipo de variable
type(a)  # aca nos muestra el tipo de variable
# str = String = Cadena de texto

str

In [13]:
# podemos icluir numeros que seran string
b = '2'  # toma el valor string porque estamos colocando entre comillas ''

In [14]:
b # mostramos el valor de b

'2'

In [15]:
# si vemos el tipo de variable seria lo siguiente
type(b)

str

---
Boolean o Variable Lógiga

In [16]:
# La variable booleana solo tiene dos valores
# False
# True
a1 = True  # cuando colocamos el valor True / False de ir la primera en mayuscula para que el lenguaje reconosca

In [17]:
# si queremos ver el valor de a1
a1 # aca nos damos cuenta que el valor es True

True

In [18]:
# Para ver el tipo de variable
type(a1) # nos dira que tipo de variable estamos utilizando
# En este caso es bool = Boolean = Lógica

bool

#### Trabajando con Variables