<a href="https://colab.research.google.com/github/andresvillamayor/Python-Begineer/blob/main/Python_Begineer_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


---
## Principios Basicos - 01
- Tipo de Variables
- Usando Variables
- Variables y Operadores
---

#### Tipos de Variables

- Por ahora estos son los tipos de variables que serán más utilizadas

---
Integer

In [ ]:
# Integer
x = 2   # aqui asignamos el valor, si bien python ya esta reconociendo el tipo de datos que recibe la variable x

In [ ]:
x  # dentro de la notebook de google colab automaticamente colocando la variable nos da el valor

2

In [ ]:
# vemos el tipo de datos
type(x) # colocando type() y dentro de los parentesis colocamos la variable, python nos mostrara el tipo de variable
# en este caso nos mostrara el tipo de variable INT por que es un Integer

int

---
Float o Punto Flotante

In [ ]:
# Float o Punto Flotante
y = 2.5  # aqui python ya reconoce que es un tipo de variable float, porque ya tiene un punto el valor

In [ ]:
y  # una vez que colocamos la variable en la notebook la misma nos mostrara el valor

2.5

In [ ]:
# Para ver nuevamente el tipo de datos que sea decimal
type(y) # aca nos mostrara que el tipo de datos es decimal / float o punto flotante

float

---
String o Cadena de Texto

In [ ]:
# String o Cadena de Texto
a = 'hola'

In [ ]:
a # el valor de a sera hola

'hola'

In [ ]:
# Nuevemnte para saber el tipo de variable
type(a)  # aca nos muestra el tipo de variable
# str = String = Cadena de texto

str

In [ ]:
# podemos icluir numeros que seran string
b = '2'  # toma el valor string porque estamos colocando entre comillas ''

In [ ]:
b # mostramos el valor de b

'2'

In [ ]:
# si vemos el tipo de variable seria lo siguiente
type(b)

str

---
Boolean o Variable Lógiga

In [ ]:
# La variable booleana solo tiene dos valores
# False
# True
a1 = True  # cuando colocamos el valor True / False de ir la primera en mayuscula para que el lenguaje reconosca

In [ ]:
# si queremos ver el valor de a1
a1 # aca nos damos cuenta que el valor es True

True

In [ ]:
# Para ver el tipo de variable
type(a1) # nos dira que tipo de variable estamos utilizando
# En este caso es bool = Boolean = Lógica

bool

---
#### Trabajando con Variables

In [3]:
# Vamos a crear una variable con un valor
A = 10

In [4]:
# En esta celda creamos otra variable
B = 5

In [5]:
# Aritmética Suma
# Vamos a hacer una suma de variables y colocar el valor en otra variable
C = A + B # C tendra el valor de las variables A y B
C   # en este caso  A = 10 y B = 5 el valor de C = 15

15

In [6]:
# Aritmética Division
# se genera una variable D
D = B / A  # D = 5 / 10 el resultado se coloca en D
D  # el valor de D es 0.5

0.5

In [7]:
# para la impresion de los resultado (Vemos un ejemplo)
C
D # se imprime el último comando o se D

0.5

In [8]:
# Para evitar la impresion anterior es mejor usar la función print()
print(C) # se imprime el valor de la suma
print(D) # se imprime el valor de la division
# si agregamos un texto al print() para que sea más comprensible
print('El Valor de C =' , C)
print('El Valor de D =' , D)

15
0.5
El Valor de C = 15
El Valor de D = 0.5

Importando modulo

In [10]:
import math

In [11]:
math.sqrt(144) # importamos el modulo math para usar la funcion sqrt (raiz cuadrada) y el pasamos el valor
# el valor impreso es de 12.0 es el resultado de la raiz cuadrada de 144

12.0

In [12]:
# Sobre la misma funcion de la raiz cuadrada vamos a utiliar otra variable con un valor asignado
math.sqrt(A) # A ya tiene un valor anterior  A = 10

3.1622776601683795

In [13]:
# Utilizando la función round() para redondear
round(10.5) # aca le decimos que nos redonde el 10.5
# el valor resultante es que saca los decimales y nos deja el número entero

10

In [14]:
# Utilizando una función dentro de otra función
# Vemos la raiz cuadrada de A
print(math.sqrt(A)) # esto nos dara un valor
# si colocamos también la funcion de round()
print(round(math.sqrt(A))) # esto daria el valor sin los decimales

#OBS : Aca usamos la función print para que se vea exactamente los dos valores

3.1622776601683795
3

In [16]:
# Ahora vemos como trabajar con variables String o Cadenas de Texto
nombre = 'Pedro' # Al tener esta variable en formato string va ente comillas simples '' o entre dolble comillas " "
saludo = 'Hola'
# Se asignaron los valores a las variables nombre y saludo

In [17]:
# Se genera una variable mensaje
mensaje = nombre + saludo  # se esta adicionando el valor del string o sea se juntan las dos variables
print(mensaje)  # La salida del valor es PEDROHOLA

PedroHola

In [19]:
# vamos a corregir el valor de la variable mensaje de la siguiente manera
mensaje = saludo + ' ' + nombre
# Lo que estamos haciendo es tomar el primer valor saludo después adicionar un espacio en blanco + ' ' +  y colocar el nombre
print(mensaje) # ahi queda mucho mejor para la presentacion del mensaje

Hola Pedro

---
Operadores Booleanas y Lógicas
- Trabajando con ellas

In [20]:
# Si preguntamos  el valor de un numero  ejemplo si 4 es menor a 5
4 < 5  # aca el valor Booleano es True o sea es Verdadero 4 es menor que 5

True

In [21]:
# Que pasaria si consulto si 40 es mayor a 100
40 > 100  # el valor Booleando es False o sea Falso porque 40 no es mayor que 100

False

In [22]:
# También podemos usar una comparacion numeria  voy a comparar si 4 es igual a 5
# aca no usaremos  = , esto sería una asignacion , pero al usa == , esto sería una comparación
4 == 5  # el valor de esta comparación es False y es porque 4 no es igual a 5

False

In [23]:
# colocando el resultado de una comparación en una variable
resultado = 4 < 5  # Aca, vemos que lo primero que hace es ver si 4 es menor que cinco y lo asigna a la variable resultado

In [24]:
# vamos a usar la función print para ver el resultado
print (resultado) # el valor del resultado es igual a True

True

In [25]:
# Si queremo saber que tipo de dato tiene la variable resultado
type(resultado) # el resultado es bool = booleano

bool

In [26]:
# Utilizando el operador not
# el not es la negacion al resultado o sea si el valor es verdadero el not lo transforma a Falso
# (5 > 1) cinco es mayor que uno es Verdadero
# al tener el operador not , hace que ese valor verdadero se transforme a Falso
# se guarda en resultado2
resultado2 = not(5 > 1)
print(resultado2) # Se cumple lo explicado de una afirmación paso a una negación

False

In [ ]:
# ahora tenemos resultado y resultado2
# resultado nos dio el valor True
# resultado2 nos dio el valor False
# Cuando se usa los operadores  and / or

In [27]:
# Ejemplo
# tenemos dos valores uno Verdadero y Otro Falso
resultado or resultado2
# al usar el or estamos diciendo que si uno de ello es Verdadero, todo es Verdadero

True

In [28]:
# Ejemplo
# En el mismo ejemplo utilizamos el operador and
resultado and resultado2
# al usar el and sabiendo que una de ellos es Falso y el otro es verdadero , el operador and dara que es falso

False